<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>

<!-- 

<div class="col-md-12">

<div class="col-lg-6 col-sm-6">
<section class="panel default blue_title h2">

<div class="panel-body">
<div class="panel-heading border"># de salida de cada serie.</div>	
<div class="table-responsive">
<table class="table table-striped ">
<thead>
<tr>
<th>Série</th>
<th>Veces</th>
</tr>
</thead>
<tbody>
<tr>
<td>Del 1 al 9</td>
<td>
<?php
foreach ($uno as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 10 al 19</td>
<td>
<?php

foreach ($dos as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 20 al 29</td>
<td>
<?php
foreach ($tres as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 30 al 39</td>
<td>
<?php
foreach ($cuatro as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 40 al 49</td>
<td>
<?php
foreach ($cinco as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 50 al 59</td>
<td>
<?php
foreach ($seis as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 60 al 69</td>
<td>
<?php
foreach ($siete as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 70 al 79</td>
<td>
<?php
foreach ($ocho as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 80 al 89</td>
<td>
<?php
foreach ($nueve as $d){
echo $d;
}
?>
</td>
</tr>

<tr>
<td>Del 90 al 100</td>
<td>
<?php
foreach ($diez as $d){
echo $d;
}
?>
</td>
</tr>
</tbody>

</table>
</div>
</div>
</section>
</div>


</div>
-->